* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
}
:root {
    --green: #20BF55;
    --dark-blue: #0B4F6C;
    --blue: #01BAEF;
    --white: #FBFBFF;
    --grey: #757575; 
    --dark-grey: #353535
}
main {
    width: 100%;
    height: 100%;
    background: var(--white);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}
.title-container {
    text-align: center;
    margin-bottom: 20px;
}
.title-container__title {
    font-size: 3.4rem;
    font-weight: 700;
    color: var(--blue);
    letter-spacing: 4px;
    line-height: 1;
    margin-top: 16px;
    margin-bottom: 20px;
}
.title-container__description {
    font-size: 1.6rem;
    color: var(--grey);
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 16px;
}
.title-container__description--clarification {
    font-size: 1.2rem;
    color: (var(--dark-blue));
}
.info-section{
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}
.info-container {
    width: 280px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
.info-container__title {
    text-align: center;
    font-size: 2.8rem;
    color: var(--blue);
    font-weight: 500;
    margin-bottom: 20px;
}
.info-container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container__form {
    display: flex;
    flex-direction: column;
}
.container__form--title {
    font-size: 2rem;
    color: var(--dark-grey);
    letter-spacing: 2px;
    margin-bottom: 4px;
}
.container__form--input {
    border: none;
    background: none;
    border-bottom: 1px solid var(--blue);
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: var(--grey);
    outline: none;
}
::placeholder {
    color: var(--grey);
}
.final {
    margin-bottom: 40px;
}
.button {
    font-size: 1.7rem;
    padding: 5px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background: var(--green);
    color: var(--white);
    margin-bottom: 20px;
}
.resultado_container {
    width: 100%;
    height: 120px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descripcion {
    font-size: 1.8rem;
    color: var(--grey);
    letter-spacing: 2px;
}
.resultado {
    font-size: 8rem;
    color: var(--blue);
}
footer {
    width: 100%;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
}